body {
  margin: 0;
  font-family: "Kanit", sans-serif;
}

.App {
  display: grid;
  grid-template: 20% auto / 18% auto;
  height: 100vh;
}

header {
  background-image: linear-gradient(to right, #5e60ce, #5390d9, #4ea8de, #48bfe3);
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

h1 {
  color: white;
  font-size: 2.8em;
  font-family: "Kanit", sans-serif;
}

button {
  padding: 10px;
  font-size: 1.2em;
  font-family: "Kanit", sans-serif;
  cursor: pointer;
  background-color: #44a0d9;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
}

nav {
  background-color: #4ea7dea4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
}

li {
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  background-color: #44a0d9;
  list-style-type: none;
  font-size: 1.3em;
  width: 80%;
  padding: 10px;
  text-align: center;
}

li:hover {
  background-color: white;
  color: #001d3d;
  cursor: pointer;
}

.feed, .profile {
  background-color: #dbedf8;
}